body {
    background-color: black;
}

#heading, #horoscopeName, #zodiacName {
    font-family: 'Orbitron', sans-serif;
}

#signs {
    text-align: center;
}

#bday-countdown {
    display: none;
    bottom: 50px;
}

#background {
    height: 1000px;
}

#bday-form1 {
    /* margin-top: 200px; */
    display: none;
}

#horoscope-description {
    /* display: none; */
}

#bday-count-head {
    bottom: 110px;

}