#bday-countdown {
    /* display: none; */
    bottom: 50px;
}

#background {
    height: 1300px;
}

#bday-form {
    /* margin-top: 200px; */
}

#horoscope-description {
    /* display: none; */
}

#bday-count-head {
    bottom: 110px;

}