body {
    background-color: black;
}

#bday-countdown {
    display: none;
    bottom: 50px;
}

#background {
    height: 1200px;
}

#bday-form1 {
    /* margin-top: 200px; */
    display: none;
}

#horoscope-description {
    /* display: none; */
}

#bday-count-head {
    bottom: 110px;

}